.editPage {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.backBtn {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		font-size: 1.2rem;
		left: 50px;
		top: 20px;
		z-index: 10;
	}

	.generateBtnContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin-bottom: 25px;
		margin-top: 40px;

		input,
		span,
		a {
			font-size: 1.2rem;
			width: 300px;

			&.disabled {
				position: relative;
				background: #a5a5a5;
				color: #121212ad;

				&:hover {
					cursor: not-allowed;
				}
			}
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 30px;
			pointer-events: none;
			background: #df2147;
			color: white;
			padding: 6px 20px;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		a {
			background: #089408;
			color: white;
		}
	}

	.error {
		text-align: center;
		font-size: 0.9rem;
		color: #f30028;
	}
}

@media screen and (max-width: 900px) {
	.editPage {
		justify-content: flex-start;

		.backBtn {
			left: 20px;
			top: 10px;
		}
	}
}
