.VideoFormContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	gap: 70px;
	margin-top: 20px;

	.formContainer {
		width: 40%;
		position: relative;

		&.arrowDown {
			&:before {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				bottom: -30px;
				left: 50%;
				transform: translateX(-50%);
				background: url('../../../public/scroll.svg') no-repeat;
				background-size: 100%;
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 80px;
			background: linear-gradient(0deg, var(--black), rgba(18, 18, 18, 0));
			bottom: 0;
			left: 0;
			pointer-events: none;
		}

		> div {
			max-height: 65vh;
			min-height: 480px;
			overflow: auto;
			background: var(--black);

			form {
				width: 100%;
				height: 100%;

				section {
					padding: 10px 1rem;

					&:first-child {
						padding-top: 0;
					}

					&:last-child {
						padding-bottom: 50px;
					}

					p {
						text-align: center;
						text-transform: uppercase;
						font-weight: bold;
						font-size: 1.3rem;
						padding-bottom: 30px;
						position: relative;

						&:after {
							content: '';
							position: absolute;
							width: 100%;
							height: 3px;
							display: block;
							background: linear-gradient(
								90deg,
								rgba(255, 255, 255, 0) 0%,
								rgb(255, 255, 255) 50%,
								rgba(255, 255, 255, 0) 100%
							);
							bottom: 10px;
							left: 0;
						}
					}

					.categories {
						padding-top: 10px;
						padding-bottom: 10px;
						display: flex;
						flex-wrap: wrap;
						gap: 20px;
					}

					label {
						padding: 10px 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.VideoFormContainer {
		flex-direction: column;
		align-items: center;
		padding: 20px 0;

		.formContainer {
			width: 100%;
		}
	}
}

@media screen and (max-width: 500px) {
	.VideoFormContainer {
		gap: 0;

		> div:first-child {
			transform: scale(0.7);
			transform-origin: center top;
			height: 400px;
		}
	}
}
