.header {
	position: relative;
	box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background: var(--black);
	z-index: 10;

	.rightLink {
		margin-left: 120px;
	}
}

.introduction {
	text-align: justify;
	padding: 0 20px 20px 20px;
	margin: 0 auto;
	width: 80%;

	p:not(:last-child) {
		margin-bottom: 20px;
		line-height: 1.5;
	}
}

.previewContanier {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 1rem 0;
	width: 100%;
	gap: 50px;

	.card {
		background: white;
		border-radius: var(--border-radius);
		overflow: hidden;
		border: 2px solid white;

		.videoPreview {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.cardContent {
			padding: 10px;

			h3 {
				color: var(--black);
				font-size: 1.4rem;
				font-weight: 600;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.header {
		a {
			display: none;
		}

		h1 {
			width: 100%;
			text-align: center;
		}
	}

	.introduction {
		width: 100%;
	}

	.previewContanier {
		flex-direction: column;
		gap: 0;

		.card {
			transform: scale(0.9);
		}
	}
}
