.label {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-weight: bold;
	gap: 10px;
}
.input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 1rem;
}

.inputList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.midWidth {
	width: 45%;
}

.checkbox {
	&:hover {
		cursor: pointer;
	}

	&.inputDisabled {
		&:hover {
			cursor: not-allowed;
		}
	}
}
